<h3>Horaires:</h3>
<div class='row align-items-center mt-3'>
    <div class='col-6 fs-0 fw-bold fs-md-2'>Ouverture:&nbsp;{{set.start_time_am|date("H")}}h{{set.start_time_am|date("i")}}</div>
        <div class='col'>Modifier:&nbsp; 
            <input id='openHour' class='filtreSettings rounded me-2 my-2 my-md-0' type='number' placeholder="hh" value="{{set.start_time_am|date("H")}}" min="0" max="24">:
            <input id='openMin' class='filtreSettings rounded me-2' type='number' placeholder="mm" value="{{set.start_time_am|date("i")}}" min="0" max="59">
            <i class="fa-solid fa-rotate fs-2" role='button' onclick='updateHour(`open`)'></i>
        </div>
</div>
    <br>
<div class='row align-items-center'>
    <div class='col-6 fs-0 fw-bold fs-md-2'>Fermeture: &nbsp;{{set.end_time_pm|date("H")}}h{{set.end_time_pm|date("i")}}</div>
        <div class='col'>Modifier:&nbsp; 
            <input id='closeHour' class='filtreSettings rounded me-2 my-2 my-md-0' type='number' placeholder="hh" value="{{set.end_time_pm|date("H")}}" min="0" max="24">:
            <input id='closeMin' class='filtreSettings rounded me-2' type='number' placeholder="mm" value="{{set.end_time_pm|date("i")}}" min="0" max="59">
            <i class="fa-solid fa-rotate fs-2" role='button' onclick='updateHour(`close`)'></i>
        </div>
</div>
    <br>
    <div class='row align-items-center'>
<div class='col-6 fs-0 fw-bold fs-md-2'>Durée des créneaux: &nbsp;{% if set.slot_interval|date("H") >= 1 %}{{set.slot_interval|date("H")}}h{% endif %}{{set.slot_interval|date("i")}}min</div>
    <div class='col'>Modifier:&nbsp; 
        <input id='slotDurationHour' class='filtreSettings rounded me-2 my-2 my-md-0' type='number' placeholder="hh" value="{{set.slot_interval|date("H")}}" min="0" max="24">:
        <input id='slotDurationMin' class='filtreSettings rounded me-2' type='number' placeholder="mm" value="{{set.slot_interval|date("i")}}" min="0" max="59">
        <i class="fa-solid fa-rotate fs-2" role='button' onclick='updateSlot()'></i>
</div>
</div>
<center><hr class='my-4 w-75'></center>
<h3>Durée des sessions:</h3>
<em> <i class="fa-solid fa-triangle-exclamation text-danger"></i>En minutes uniquement</em>
     <div class='row d-flex align-items-center mt-3 mb-4'>
        <div class='col-6 fs-0 fw-bold fs-md-2'>Utilisateurs: &nbsp;{{set.session_duration_user / 60}}&nbsp;minute{% if (set.session_duration_user / 60) > 1 %}s{% endif %}</div>
            <div class='col'>Modifier:&nbsp;
                <input id='userSession' class='filtreSettings rounded me-2 my-2 my-md-0' type='number' placeholder="" value="{{set.session_duration_user / 60}}" min="1" max="10">&nbsp;
                    <i class="fa-solid fa-rotate fs-2" role='button' onclick='modifySession(`user`)'></i>
            </div>
        </div>
            <br>
    <div class='row d-flex align-items-center mb-4'>
        <div class='col-6 fs-0 fw-bold fs-md-2'>Employés: &nbsp;{{set.session_duration_internal / 60}}&nbsp;minute{% if (set.session_duration_internal / 60) > 1 %}s{% endif %}</div>
            <div class='col'>Modifier:&nbsp;
                <input id='internalSession' class='filtreSettings rounded me-2 my-2 my-md-0' type='number' placeholder="" value="{{set.session_duration_internal / 60}}" min="1" max="30">&nbsp;
                    <i class="fa-solid fa-rotate fs-2" role='button' onclick='modifySession(`internal`)'></i>
            </div>
    </div>


<center><hr class='my-4 w-75'></center>
    <div class='row d-flex align-items-center mb-4'>
        <div class='col-6 fs-0 fw-bold fs-md-2'>Pont{% if set.nb_lift > 1 %}s{% endif %} disponible{% if set.nb_lift > 1 %}s{% endif %}: &nbsp;{{set.nb_lift}}</div>
            <div class='col'>Modifier:&nbsp;
                <input id='nbLifts' class='filtreSettings rounded me-2 my-2 my-md-0' type='number' placeholder="" value="{{set.nb_lift}}" min="1">&nbsp;
                    <i class="fa-solid fa-rotate fs-2" role='button' onclick='changeLifts(`internal`)'></i>
            </div>
    </div>
<div class='fs-2'></div>