<h2 align='center' class='mb-4'>
	{{date}}
</h2>

<div class="row justify-content-center mt-3 mt-lg-5">
	<div class="col-12 col-sm-6 col-md-6 col-lg-3 mt-3 px-0 p-md-3">
		<div class="row flex-column g-4">
			<div class="card h-md-100 ecommerce-card-min-width shadow border border-info">
				<div class="card-header pb-0">
					<h6 class="mb-0 mt-2 d-flex align-items-center fs-1">
						UTILISATEURS ENREGISTRÉS
						<span class="ms-1 text-400" data-bs-toggle="tooltip" data-bs-placement="top" title="#"></span>
					</h6>
				</div>
				<div class="card-body d-flex flex-column justify-content-end">
					<div class="row">
						<div class="col d-flex justify-content-center">
							<p class="font-sans-serif lh-1 mb-1 fs-4">{{nbUsers}}</p>
						</div>
						<div class="col-auto ps-0">
							<div class="echart-bar-weekly-sales h-100">
								<i class="fa-solid fa-user fs-4"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="bg-holder bg-card h-100" img-fluid style="background-image:url(../public/assets/img/icons/spot-illustrations/corner-2.png);"></div>
			</div>
			<div class="card h-md-100 ecommerce-card-min-width shadow border border-{% if nbInter == 0 %}danger{% else %}info{% endif %}">
				<div class="card-header pb-0">
					<h6 class="mb-0 mt-2 d-flex align-items-center fs-1">
						RENDEZ-VOUS DU JOUR
						<span class="ms-1 text-400" data-bs-toggle="tooltip" data-bs-placement="top" title="#"></span>
					</h6>
				</div>
				<div class="card-body d-flex flex-column justify-content-end">
					<div class="row">
						<div class="col d-flex justify-content-center">
							<p class="font-sans-serif lh-1 mb-1 fs-4">{{nbInter}}</p>
						</div>
						<div class="col-auto ps-0">
							<div class="echart-bar-weekly-sales h-100">
								<i class="fa-solid fa-user-clock fs-4"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="bg-holder bg-card h-100" style="background-image:url(../public/assets/img/icons/spot-illustrations/{% if nbInter == 0 %}corner-1{% else %}corner-2{% endif %}.png);"></div>
			</div>
		</div>
	</div>
	<div class="col-12 col-sm-6 col-md-6 col-lg-4 mt-3 px-0 p-md-3">
		<div class="card h-md-100 px-2 shadow border border-info">
			<div class="card-header pb-0">
				<h6 class="mb-0 mt-2 fs-1">BASE DE DONNÉES DES VÉHICULES</h6>
			</div>
			<div class="card-body">
				<div class="row h-100 justify-content-between g-0">
					<div class="position-relative">
						<div class="fs--2 mt-3">
							<div class="d-flex flex-between-center mb-1">
								<div class="d-flex align-items-center">
									<span class="dot bg-primary"></span>
									<span class="fw-semi-bold fs-1">
										{{brands}}
										constructeurs
									</span>
								</div>
							</div>
							<div class="d-flex flex-between-center mb-1">
								<div class="d-flex align-items-center">
									<span class="dot bg-info"></span>
									<span class="fw-semi-bold fs-1">
										{{models}}
										modèles
									</span>
								</div>
								<i class="danger-api fa-solid fa-triangle-exclamation text-danger position-absolute"></i>
								<button class="btn-update-base btn btn-outline-primary position-absolute" onclick='callApiMatmut();' data-toggle="tooltip" data-placement="bottom" title="mise à jour base véhicules">
									<i class="fa-solid fa-rotate fs-1"></i>
								</button>
							</div>
							<hr class='my-4'>
							<h6 class="d-flex align-items-center fs-1">VÉHICULES ENREGISTRÉS</h6>
							<div class="row">
								<div class="col d-flex align-items-center justify-content-start">
									<H5>TOTAL:
									</H5>
									<span class="align-center font-sans-serif lh-1 mb-1 ms-2 fs-4">
										{{nbCars}}</span>
								</div>
								<div class="col-auto ps-0">
									<div class="echart-bar-weekly-sales h-100"></i>
								</div>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col d-flex align-items-center justify-content-start">
								<H5>MARQUE LA PLUS ENREGISTRÉE:
								</H5>
								<span class="text-center font-sans-serif lh-1 mb-1 ms-2 fs-2">
									{% if popularBrandName == 'Aucune donnée' %}
										<p>{{popularBrandName}}</p>
									{% else %}
										<img src={{popularBrandPic}}>
									{% endif %}
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bg-holder bg-card h-100" style="background-image:url(../public/assets/img/icons/spot-illustrations/corner10.png);transform: rotate(180deg);"></div>
	</div>
</div></div></div>
