{% if Rdvs is not empty %}
    {% for data in Rdvs %}

        <tr align='center'>
            <td>
                <button onclick='modalRdvInfo(`{{ data['cryptedId'] }}`)' 
                    class='modalrdvInfo border-0 bg-transparent font-medium' 
                    type='button' data-toggle='tooltip' 
                    data-placement='bottom' 
                    title='Voir infos'>
                    <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-search' viewBox='0 0 16 16'>
                        <path d = 'M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 
                            0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z' />
                    </svg >
                </button >
            </td>
            <td>
                <span class='fs-2'>{{ data['id_intervention'] }}</span>
            </td>
            <td>
                <span class='fs-2'>{{ data['time_slot']|date("G:i") }}</span>
            </td>
            <td>
            <span class='fs-2'><img src='../public/assets/img/logo/{{ data['brand_name'] }}.png'></span>
            </td>                
            <td>
                <span class='fs-2'>{{ data['model_name'] }}</span>
            </td>
            <td>
                <span class='fs-2'>{{ data['registration'] }}</span>
            </td>  
            <td>
                <button  onclick='deleteRdv(`{{ data['cryptedId'] }}`)' 
                        type='button' 
                        class='deleteRdvTech border-0 bg-transparent' 
                        data-toggle='tooltip' 
                        data-placement='bottom' 
                        title='Supprimer intervention'>
                    <i class='fa-solid fa-xmark text-danger fa-xl'></i>
                </button>          
            </td>
        </tr>

    {% endfor %}
{% endif %}